/*
 * Cirro compute configuration overrides
 * Merged with nextflow.config at runtime.
 */

process {
    errorStrategy = "retry"
    maxRetries = 1
    memory = { 24.GB * task.attempt }

    withName: "RUN_SC_QC" {
        cpus = 4
        memory = "24 GB"
        disk = "200 GB"
    }
}

aws {
    batch {
        jobRole = null
    }
}
